<div class="grid">
  <div class="grid__item medium-up--three-quarters large-up--four-fifths">
    <div class="start-shopping-block">
      <a href="/collections/new"><img src="{{ 'startshopping1.jpg' | asset_url }}"></a>
      <a href="#"><img src="{{ 'boys.jpg' | asset_url }}"></a>
      <a href="#"><img src="{{ 'girls.jpg' | asset_url }}"></a>
      <a href="#"><img src="{{ 'gift-ideas.jpg' | asset_url }}"></a>
      <a href="#"><img src="{{ 'one-piece.jpg' | asset_url }}"></a>
      <a href="#"><img src="{{ 'accessories.jpg' | asset_url }}"></a>
      <a href="#"><img src="{{ 'new-arrivals.jpg' | asset_url }}"></a>
    </div>
  </div>
</div>